
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{padding:0;margin:0;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;}/*for ios*/
html,body{-webkit-touch-callout: none;width:100%;margin:0 auto;}
html{font-size:8px; width: 100%; height: 100%;box-sizing:border-box;-webkit-box-sizing:border-box;}
table{border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}
ul,ol,li{list-style:none;}
em,i{font-style:normal;}
img{border:0;}
body,div,span,input,select,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0);outline:none;}
input:focus,select:focus,textarea:focus{-webkit-tap-highlight-color: rgba(0,0,0,0);outline:none;}
a{text-decoration:none;}
body{width:100%;height:100%;box-sizing:border-box;-webkit-box-sizing:border-box;}
.clear_fix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clear_fix{display: inline-table;}/* Hides from IE-mac \*/
* html .clear_fix{height: 1%;}
.clear_fix{display: block;}/* End hide from IE-mac */
*+html .clear_fix{min-height: 1px;}/*ie7*/
body{font-size:1em;color:#333333;background:#fff1cf;position:relative;font-family: '微软雅黑';}

img{display: block;}
.fl{float: left;}
.fr{float: right;}
.red{color: red;}


.container {
    text-align:center;
    width:100%;
    height:100%;
    position:relative;
    color:#666;
    -webkit-text-size-adjust:none;
    background: #dbe9ff;
}

.header{width:1200px;height:607px;position:relative; margin: 0 auto;text-align:left;}
.header_title {
    position: absolute;
    top: 27%;
    /* left: 1%; */
    font-size: 0.01em;
    font-family: "FZYANS_ZHUNJW";
    color: rgb(221, 0, 27);
    text-align: center;
    width: 100%;
}

.header_content{
    position: absolute;
    bottom: 6em;
    font-size: 0.1em;
    font-family: "FZYANS_ZHUNJW";
    color: rgb(37, 70, 173);
    text-align: center;
    width: 100%;
    height: 3.25em;
}


.content{position:relative;margin:0 auto;width:100%;min-height:600px;height:auto !important;_height:500px;text-align:left;border-bottom:1px solid #e9e9e9;overflow-x: hidden;}
.layout {
    width: 100%;
    position: relative;
    margin: 0 auto;
    text-align: left;
}
.maincont{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.content_title{
    position: absolute;
    bottom: -1.9em;
    line-height: 1.1em;
    font-size: 0.1em;
    font-family: "FZYANS_ZHUNJW";
    color: rgb(221, 0, 27);
    text-align: center;
    width: 100%;
    height: 3.25em;
}
.info_title {
    position: absolute;
    top: 1em;
    font-size: 0.1em;
    font-family: "FZYANS_ZHUNJW";
    color: rgb(89, 87, 87);
    text-align: left;
    width: 93%;
    padding: 0 1em;
}
.main_title {
    position: absolute;
    top: 1em;
    font-size: 0.1em;
    font-family: "FZYANS_ZHUNJW";
    color: rgb(89, 87, 87);
    text-align: left;
    width: 100%;
    padding: 1px;
}

.left_title {
    position: absolute;
    top: 73px;
    left: 64%;
    color: #ffffff;
    text-align:center;
}
.left_title_content {
    position: absolute;
    top: 237px;
    left: 57%;
    width: 204px;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 4px;
}

.zhi_title {
    position: absolute;
    top: 3em;
    color: rgb(247, 243, 243);
    text-align: left;
    width: 32%;
    right: 1em;
    font-size: 0.01em;
}
.liu_title {
    position: absolute;
    top: 11em;
    color: rgb(247, 243, 243);
    text-align: left;
    width: 100%;
    font-size: 0.01em;
}

.liu_title ul{
    display: flex;
}

.liu_title ul li {
    margin-left: 1em;
}

.liu_title ul li:nth-child(1)  {
    color:#f15922;
}
.liu_title ul li:nth-child(2)  {
    color:#f8c704;
}
.liu_title ul li:nth-child(3)  {
    color:#9ac639;
}
.liu_title ul li:nth-child(4)  {
    color:#00a2a2;
}
.liu_title ul li:nth-child(5)  {
    color:#0088b3;
}
.liu_title ul li:nth-child(6)  {
    color:#9d248f;
}

.zhang_title {
    position: absolute;
    top: 4em;
    left: 1em;
    color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
    font-size: 0.7em;
}

.zhang_title li {
    line-height: 21px;
}

.zc-title {
    /*position: absolute;*/
    bottom: -1.9em;
    line-height: 1.1em;
    font-size: 0.1em;
    font-family: "FZYANS_ZHUNJW";
    color: rgb(221, 0, 27);
    text-align: center;
    width: 100%;
    height: 3.25em;
}
.tuandui_title{
    position: absolute;
    top: 17em;
    padding: 0 1em;
    font-size: 0.8em;
    font-family: "FZYANS_ZHUNJW";
    color: rgb(144, 139, 139);
    text-align: left;
    width: 93%;
}
/*Css for footer*/
.footer-wrap{ text-align:center;background: #dbe9ff; }
.footer-wrap-new{background: #dbe9ff;width:98%; text-align:center; }
.footer{height:100%;margin:0 auto;text-align:left;position:relative;padding:10px 0;}
.footer p{color:#000000;line-height:22px; margin-bottom:2px; text-align: center;}
.footer p a{color:#ff8b00;}
.footer p span{ padding: 0 8px;}

.hide{visibility: hidden;position: absolute;z-index: -1;height: 0;}
.demo{width: 100%;height: 40px;overflow: hidden;}
.demo>div{
    display: inline-block;
    width: 64px;
    height: 40px;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
}
.demo>div:hover{
    color:#0d4197;
}
.demo2{width:100%;height: 100px;}
.demo2>div{position: relative;}
img{width:100%;}
.Color{
    font-family: "Lantinghei SC";
    color:#0d4197;
}
