* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "微软雅黑";
}
ul,li{
	list-style: none;
}
.tab{
	width: 451px;
	position: absolute;
}
.tab .tab-nav{
	height: 30px;
}
.tab .tab-nav li{
	/*float: left;*/
	/*margin-right: 5px;*/
	/*background: #767676;*/
	/*border-radius: 3px 3px 0 0;*/
	float: left;
	margin-right: -42px;
}

.tab .tab-nav li a{
	display: block;
	height: 30px;
	padding: 0 20px;
	color: #ffffff;
	text-decoration: none;
	line-height: 30px;
}
.tab .tab-nav li.actived{
	/*background: #ffffff;*/
}
.tab .tab-nav li.actived a{
	color: #dbe9ff;
}
.tab .content-wrap{
	padding: 5px;
	height: 272px;
}
.tab .content-wrap img{
	/*width: 100%;*/
	/*height: 100%;*/
}
.tab .content-wrap .content-item{
	width: 431px;
	position: absolute;
	height: 271px;
	display: none;
}
.tab .content-wrap .current{
	display: block;
}

